#wrapper {
    width: auto;
    height: auto;
    
}
#main {
    background-color: slateblue;
    border: 5px solid pink;
    display: grid;
    grid-template-columns: 300px 2fr;

        widget {
            border: 5px solid gray;
        }
        domestic {
            border: 5px solid red;
        }
        abroad {
            border: 5px solid red;
        }   
    }


.CRS {

    height: auto;
}
